@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css);@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;

700;900&amp;display=swap);html,
body {
  font-family: "Roboto", sans-serif;
  background: #151515;
  color: #fff;
}

* {
  box-sizing: border-box;
}

.form {
  margin-bottom: 20px;
}

.list {
  display: flex;
  flex-direction: column;
}

.list .item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background: #090909;
  transition: 0.25s;
  color: gray;
}

.list .item .text {
  cursor: default;
}

.list .item.active {
  background: #e6e6e6;
}

.list .item.active:hover {
  color: #000;
}

.list .item:hover {
  color: #fff;
}

.list .item:hover .actions {
  opacity: 1;
}

.list .item .text {
  max-width: 400px;
}

.list .item .actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}

.list .item .actions > i {
  padding: 7px;
  color: #199d67;
  transition: 0.25s;
  cursor: pointer;
}

.list .item .actions > i:hover {
  color: #3ce09d;
}

.container {
  max-width: 600px;
  background: #201f24;
  padding: 20px 0;
  margin: auto;
}

.container h1 {
  text-align: center;
  margin: 10px 0;
}

.container .form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

